.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.primary{
  background-color: #7CC3EA;
  border-color: #7CC3EA;
}

.primary:hover {
  background-color: #5CC3E0;
  border-color: #5CC3E0;
}

.primary-ghost {
  background-color: white;
  border-color: #7CC3EA;
  color: #7CC3EA;
}

.primary-ghost:hover {
  background-color: white;
  border-color: #5CC3E0;
  color: #5CC3E0;
}
